.header{
    position: relative;
}

.btn__menu{
    background-color: none;
    border: none;
    all: unset;
    margin-bottom: 10px;
}

.menu{
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: var(--branco);
    box-shadow: 0px -1px 8px 0px grey;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.menu__lista{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1.5rem 0;
}


.menu__item-icon{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.btn__menu{
    background-color: none;
    border: none;
    all: unset;
    position: fixed;
    right: 0;
    bottom: 10%;
}

@media screen and (min-width: 768px) {

    .menu{
        width: 100%;
    }

    .menu__lista{
        display: flex;
        justify-content: space-between;
        
        width: 400px;
    }

}


@media screen and (min-width: 1600px) {

    .container{
        position: relative;
    }

    .header{
        height: 100vw;
        background-color: var(--branco);
        box-shadow: 1px 0px 8px 0px grey;
        position: fixed;
    }

    .menu{
        display: flex;
        position: relative;
        width: 300px;
        flex-direction: column;
        border-top-right-radius: 0rem;
        border-top-left-radius: 0rem;
        box-shadow: none;
        padding: 3rem 1rem 1rem 1rem;
    }

    body{
        display: flex;
        flex-direction: row;
    }

    .menu__lista{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }
    
    .menu__item{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .menu__item:hover {
        transform: 0.5s;
        scale: 1.1;
        cursor: pointer;
        color: var(--azul);
    }

    .menu__item:hover .icon-hover {
        stroke: var(--azul);
      }



    .menu__item-icon{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 90%;
    }

    .icon_menu-image{
        width: 2rem;
    }

    .menu__item-text{
        font-size: 1.5rem;
    }

    .btn__menu{
        display: none;
        
    }

}